################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RDR2PhotoConverter
/bin
/New folder
/Properties/PublishProfiles
/obj
/RDR2PhotoConverter.csproj.user
